.TwitterSection {
  /* background: rgb(214,232,242); */
  /* min-height:400px; */
  display:flex;
}

.TwitterContainer {
  margin: 0 auto;
  margin-top:50px;
  width:75%;
}
.TwitterContainer a { 
    text-decoration: none;
}
.TwitterContainer a:hover {
  text-decoration: underline;
}

.TwitterFlex {
  display:flex;
  /* flex-direction: column; */
  justify-content:space-between;
  /* margin-bottom:40px; */
}
.TwitterFlex > * {
  margin: 5px;
}

.Tweet {
  float:left;
  padding:0 20px;
  border-right: 1px solid #333;
  font-family: 'Georgia', sans-serif;
  background:white;
  margin:10px 10px 0 10px;
  width:33%;
}
.Tweet:last-child {
  border: 0;
}

.Tweet a {
  text-decoration:none;
  color: rgb(15, 121, 180);
}

.Tweet a:hover {
  text-decoration:underline;
}

.Tweet span {
  display:block;
  margin-bottom:10px;
  font-family: 'Georgia', serif;
}

.Tweet img {
  border-radius:20%;
}

@media only screen and (max-width: 500px) {
  .TwitterContainer {
    margin-top:20px;
  }
  .TwitterContainer h2 {
    font-size:2em !important;
  }
  .TwitterFlex {
    display:block;
  }
  .Tweet {
    width:unset;
    margin:10px 0;
  }
}
.truncator {
  color: 'rgb(15, 121, 180)';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.twitterTweet{
  width:33%;
}